# dependencies

node_modules/

# environment variables (VERY IMPORTANT)

.env

# logs

logs
*.log
npm-debug.log*

# OS files

.DS_Store

# runtime files

pids
*.pid
*.seed
*.pid.lock

# coverage

coverage/

# build files

dist/
build/

# uploads (if using multer or similar)

uploads/

# temp files

tmp/
temp/

# IDE files

.vscode/
.idea/
*.swp
